@page "/"

<img src="./sait.png" alt="SAIT image" style="max-width: 50px"> 
<h1>Hello, SAIT students!</h1> 

Welcome to your new app.

<img src=" ./sait_campus.jpeg" alt="SAIT campus" style="max-width: 500px">
