@page "/calculator"


<h3>Calculator</h3>

<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">First Number</span>
  <input placeholder="Input Number" @bind="number1" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Second Number</span>
  <input placeholder="Input Number" @bind="number2" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<div class="btn-group" role="group" aria-label="Basic outlined example">
	<button @onclick="Add" type="button" class="btn btn-outline-primary">💕Addition(+)</button>
  <button @onclick="Subtract" type="button" class="btn btn-outline-primary">Subtract(-)</button>
  <button @onclick="Multiply" type="button" class="btn btn-outline-primary">Multiply(x)</button>
  <button @onclick="Divide" type="button" class="btn btn-outline-primary">Divide(/)</button>
  <button @onclick="Remainder" type="button" class="btn btn-outline-primary">Remainder(%)</button>
  <button @onclick="SquareRoot" type="button" class="btn btn-outline-primary">Square Root(√)</button>
  <button @onclick="Clear" type="button" class="btn btn-outline-primary">Clear</button>
</div>

<br> <!-- Add a line break here -->

<div class="col-mb-4">
  <input readonly @bind="@result" class="form-control" />
</div>
@* <h4>Result</h4>
<p>@result</p> *@


@code {
	string number1;
	public string number2;
	public double result = 0;

	private void Add()
	{
		result = double.Parse(number1) + double.Parse(number2);
	}

	private void Subtract()
	{
		result = double.Parse(number1) - double.Parse(number2);
	}

	private void Multiply()
	{
		result = double.Parse(number1) * double.Parse(number2);
	}

	private void Divide()
	{
		if (double.Parse(number2) == 0)
		{
			result = 0;
		}
		else
		{
			result = double.Parse(number1) / double.Parse(number2);
		}
	}

	private void SquareRoot()
	{
		result = Math.Sqrt(double.Parse(number1));

	}

	private void Remainder()
	{
		result = double.Parse(number1) % double.Parse(number2);
		NormalizeZero();
	}
	// New method to normalize -0.0 to 0.0
	private void NormalizeZero()
	{
		if (result.CompareTo(-0.0) == 0)
		{
			result = 0.0;
		}
	}

	private void Clear()
	{
		number1 = "";
		number2 = "";
		result = 0;
	}

}